<div
    class="section"
    id="call-for-training"
    style="background-color: #000101"
>
    <h2 class="title">CALL FOR TRAINING</h2>
    <hr />
    <br />
    <div class="call-for-talks">
        <h3 class="text-title mb-1" style="color: #ffffff">
            Share your expertise on Training Day
        </h3>
        <p class="text-content mb-2" align="left" style="color: white">
            On <b>20 October</b>, the day before the main conference, we're
            hosting a full day of hands-on training sessions in Haarlem. We're
            looking for experienced practitioners to lead tutorials on Erlang,
            Elixir, Gleam, and the wider BEAM ecosystem.
        </p>
        <p class="text-content mb-2" align="left" style="color: white">
            As a trainer you'll receive a <b>complimentary ticket</b> to the
            full conference and a <b>share of the training revenue</b>.
            Submissions close: <b>31 May.</b>
        </p>
        <a
            class="page-scroll btn-outline btn-purple mb-5 btn-purple"
            href="https://forms.gle/pMWMZA7hhbabYypf8"
            target="_blank"
            >PROPOSE A TRAINING</a
        >
    </div>
</div>
