<div
  class="section"
  id="cft"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.jpg');"
>
  <h2 class="title">CALL FOR TALKS IS OPEN</h2>
  <hr />
  <br />
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
    Be a part of Code BEAM Europe 2025!
    </h3>
    <p class="text-content mb-2" align="left" style="color: white">
      This year we’re accepting talks from people who are happy to deliver them
      in-person. We welcome proposals about Erlang, Elixir, Gleam, BEAM and
      other technologies and we are happy to support candidates from
      under-represented groups in the software development community. CFT
      closes: <b>29 June.</b><br />
    </p>
    <ul class="text-content mb-2" align="left" style="color: white">
      We are looking for great talk ideas around the themes of:
  <li>
    <b>AI & Machine Learning</b> – Exploring the integration of AI and machine learning solutions into BEAM systems, and the evolution of connected Erlang and Elixir libraries.
  </li>
  <li>
    <b>Growth & Adoption</b> – Strategies for convincing decision-makers to adopt Erlang, Elixir, and Gleam—while overcoming the challenges of team building and retention.
  </li>
  <li>
    <b>Real-World Usage</b> – Case studies on deployment, DevOps, and maintaining BEAM systems – including tackling technical debt in production environments.
  </li>
  <li>
    <b>Scalability & Sustainability</b> – Meeting scalability demands with a focus on sustainable, innovative solutions and green tech in BEAM-based architectures.
  </li>
  <li>
    <b>Gleam in Production</b> – The evolution of industrial usage of Gleam, best practices and libraries to support the growth of Gleam-based products and the community.
  </li>
</ul>

    </ul>
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://sessionize.com/code-beam-europe-2025/"
      >SUBMIT HERE</a>
      <br /><br />
      <h3 class="text-title mb-1" style="color: #ffffff">
  
  </div>
</div>
