<div
    class="cover"
    id="cover"
    style="background-image: url('{{site.baseurl}}/assets/images/kleine-zaal-leeg-met-concert.jpeg');"
>
    <div class="cover-overlay"></div>

    <div class="cover-content">
        <div class="logo">
            <img
                src="{{ site.baseurl }}/assets/images/Code BEAM Europe 2024 logo.png"
                alt="Code BEAM Europe"
            />
        </div>

        <p class="cover-tagline">
            The Erlang, Elixir & Gleam conference is coming to PHIL Haarlem.
        </p>

        <p class="cover-date">
            CONFERENCE 21-22 OCTOBER, HAARLEM & ONLINE<br />TRAINING: 20 OCT
        </p>

        <div class="talk-highlight-items">
            <div class="highlight-item-row">
                <span class="highlight-number">2</span>
                <span class="highlight-label">DAYS</span>
            </div>
            <div class="highlight-item-row">
                <span class="highlight-number">2</span>
                <span class="highlight-label">TRACKS<br />EACH DAY</span>
            </div>
            <div class="highlight-item-row">
                <span class="highlight-number">1</span>
                <span class="highlight-label">UNCONF<br />SPACE</span>
            </div>
            <div class="highlight-item-row">
                <span class="highlight-number">30</span>
                <span class="highlight-label">SPEAKERS</span>
            </div>
            <div class="highlight-item-row">
                <span class="highlight-number">300+</span>
                <span class="highlight-label">ATTENDEES</span>
            </div>
        </div>

        <a class="btn-cta" href="#newsletter">KEEP ME UP TO DATE!</a>
    </div>
</div>
