<div class="section welcome" id="diversity">
    <h2 class="title">DIVERSITY AND INCLUSION PROGRAMME</h2>
    <hr/>
    <p class="text-content">
    This year thanks to AppSignal we are able to run our Diversity and Inclusion Programme again. The goal of the programme is to broaden access to the conference and provide support to individuals who might not otherwise have the opportunity to attend. The programme focuses on empowering individuals new to Erlang, Elixir and Gleam startups, and those from varied backgrounds, everyone is welcome to apply.</b><br>
</p>
    <p class="text-content mb-5" align="center" style="margin-top:1em">
    <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://forms.gle/yFCUYnysBV4YvTuFA"target="_blank">Apply</a>
</div>
