<div
    class="section"
    id="informal-space"
    style="
        background:
            linear-gradient(
                180deg,
                rgba(20, 0, 40, 0.95) 0%,
                rgba(40, 0, 60, 0.8) 50%,
                rgba(50, 10, 40, 0.7) 100%
            ),
            #000101;
    "
>
    <h2 class="title">INFORMAL SPACE</h2>
    <hr />
    <br />
    <div class="call-for-talks">
        <p class="text-content mb-2" align="left" style="color: white">
            This year we're also hosting a community-led informal space
            alongside the main programme. It may include all sorts of activities
            that would not exactly fit the <i>talk</i> format. Possible
            experiences you may find in this area will include: demos, panel
            discussions, slightly larger lightning talks, games, talks in
            languages other than English, hacking sessions and any other cool
            activity you can think of. If you have an idea of some informal
            activity you want to engage in or coordinate,
            <a
                href="https://forms.gle/szwbd7YzAXVk8vTy5"
                target="_blank"
                style="color: #e32dfd; text-decoration: underline"
                >let us know</a
            >
            and we'll do our best to include it in the Informal Space.
        </p>
    </div>
</div>
