<div class="section schedule" id="schedule">
    <h2 class="title">SCHEDULE</h2>
    
    <div>
        <div title="Whova event and conference app" id="whova-agendawidget">
            <p id="whova-loading">Loading...</p>
        </div>
        <script src="https://whova.com/static/frontend/xems/js/embed/embedagenda.js?eid=7CgII6iPhPa-PRuyEsvHnXcQYBfZ49ASyveLGLP7tO8%3D&host=https://whova.com" type="text/javascript"  id="embeded-agenda-script">
        </script>
        <div id="whova-wrap" class="whova-wrap-class">
           
        </div>
    </div>

    </hr>
 </div>
