<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/venue-background-Estrel.jpeg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE</h2>
            <hr/>
            <p class="venue-subtitle">ESTREL</p>
            <p class="venue-text">Sonnenallee 225<br>
              12057 Berlin</p>
            <div class="row">
                <div class="col-left">
                    <div class="col-row">
                        <p class="venue-text">+49 30 6831 0</p>
                    </div>
                    <div class="col-row">
                      <h2 class="venue-subtitle">
                          <strong><a href="https://www.estrel.com/files/downloads/estrel_lage_anfahrt_2022_ENG.pdf" style="color: #e32dfd">LOCATION & DIRECTIONS</a><br>
                      </h2>
                    </div>
                </div>
                <div class="col-right">
                  <!--  <h2 class="venue-subtitle">Training Venue</h2>-->
                    <div class="col-row">
                        <div class="col">
                           <!-- <p class="venue-text">Centrum Konferencyjne,</p>
                            <p class="venue-text">Golden Floor Tower, ul.</p>
                            <p class="venue-text">Chłodna 51,</p>
                            <p class="venue-text">00-867 Warszawa</p>-->
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="venue-subtitle">Accommodation</h2><br>
            <p>We have secured rooms at the Estrel from €138, to book please follow <a href="https://bookings.travelclick.com/17417?groupID=3611647#/guestsandrooms">this link.</a> (currently experiencing some technical issues, the rooms will be available again shortly) </p>

        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
