<div class="section welcome" id="waiting-list">
     <h2 class="title">WAITING LIST</h2>
     <hr/>

     <div class="row align-center">
          <h3 class="text-title mb-1">Our last Very Early Bird sale lasted less than 4 hours before they sold out. You don't want to miss our next event, Code BEAM Europe in the thriving tech hub of Berlin on 19 - 20 October. Very Early Bird tickets will only available to members of our waiting list, so sign up for your chance to secure tickets at the best price.</h3></br>
          <iframe src="https://www2.codesync.global/l/23452/2020-11-05/77b8y8" width="100%" height="500" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
     </div>
 </div>
